/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * GetTheMacGuffin implementation : © Séverine Kamycki severinek@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * getthemacguffin.css
 *
 * GetTheMacGuffin stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (getthemacguffin_getthemacguffin.tpl), and to HTML elements you create dynamically
    (in getthemacguffin.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
@font-face {font-family: "Parisish"; src: url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.eot"); 
    src: url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.woff2") format("woff2"),
     url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/d9699dc8331cf1269216063160d308ef.svg#Parisish") format("svg"); 
}

.gtm_white_block{
    border: 2px solid #70c4cf;
    color: rgb(13, 158, 177);
    font-family: "Parisish", "Broadway", "Roboto", Arial, sans-serif;
}

.gtm-tooltip-name{
    font-family: "Parisish", "Broadway", "Roboto", Arial, sans-serif;
    color: rgb(13, 158, 177);
    font-size: x-large;
    font-weight: bold;
}

.gtm_block_title{ 
    font-size: x-large;
}

.stockitem  {
    border-radius: 15px;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);  
    border: 1px solid rgb(13, 158, 177); 
    cursor:default;
}
.stockitem_selected {
	border: 2px solid rgb(140, 67, 182) ! important;
}

.stockitem:hover {
  transform: scale(1.05);
  z-index: 150 !important;
}

.stockitem_unselectable:hover {
    transform: none;
  }

.unselectable, .stockitem_unselectable {
  cursor: not-allowed;
  filter: opacity(0.6);
}

#discard_pile .stockitem_unselectable, #playing_zone_detail .stockitem_unselectable {
  cursor: default;
  filter: opacity(1);
}

.selectable {
  cursor: pointer;
}

#help_msg_wrapper{
    text-align: center;
    display: inline-block;
    width: 80%;
}

.gtm_help{
    font-size: 22px;
    font-weight: bold;
}

.spectatorMode #myhand_wrap{
    display: none;
}

#secret_zone_wrap{
    display: none;
}

#in_play_wrapper
{ 
    display: inline-flex;
    flex-wrap: wrap;
}

.gtmInPlayZone{
    min-width: 220px;
    margin: 3px;
}

#discard_pile_wrap{
    width: 250px;
    margin-right: 5px;
}

#myhand_wrap{
    width: 100%;
}

#mainLine{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.gtmPlayerName{
    text-align: center;
}

.gtm_cards_counter{
    font-weight: bold;
    font-size: 28px;
    color: 	#70c4cf;
    z-index: 1;
}

.gtm_cards_count{
    position: relative;
    top: 41px;
    left: 18px;
}

.gtm_tomb_icon{
    background-image:  url("./img/icons/tomb.jpg");
    width: 40px;
    height: 40px;
}

#help_line{
    margin-top: 0;
    padding: 5px;
    border: none;
}

@keyframes zoominout {
    0% { transform: scale(1,1);}
    50% { transform: scale(1.2,1.2);}
    100% { transform: scale(1,1);}
}

.animation{
    position: absolute;
    top: 19%;
    left: 7%;
    -webkit-animation: zoominout 3s linear;
    -webkit-animation-delay: 0s;
    animation: zoominout 3s linear;
    animation-delay: 0s;
    z-index: 99;
}

.animation_background{
    background-image: url("./img/animations175x175.jpg");
    width: 174px;
    height: 175px;
}

.background_MACGUFFIN{
    background-position: 0px 0px;
}
.background_BACKUP_MACGUFFIN{
    background-position: -175px 0px;
}
.background_HIPPIE{
    background-position: -350px 0px;
}
.background_MARSHALL{
    background-position: -525px 0px;
}
.background_SHRUGMASTER{
    background-position: -700px 0px;
}

.gtm-tooltip-description{
    max-width: 300px;
}

a[disabled] {
    pointer-events: none;
}




